<%= form_with(model: article, local: true, html: { class: "needs-validation", novalidate: true }) do |form| %>
  <% if article.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
        <% article.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :title, class: "form-label" %>
    <%= form.text_field :title, class: "form-control", aria: { describedby: "titleHelp" } %>
    <div id="titleHelp" class="form-text">Enter the title of the article.</div>
  </div>

  <div class="mb-3">
    <%= form.label :content, class: "form-label" %>
    <%= form.text_area :content, class: "form-control", rows: 3, aria: { describedby: "contentHelp" } %>
    <div id="contentHelp" class="form-text">Enter the content of the article.</div>
  </div>

  <div class="mb-3">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
